/* stylelint-disable prettier/prettier */
h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.h2 {
  color: color(text);
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  line-height: 1.8;
  text-transform: uppercase;
}

.h3 {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  .icon {
    fill: color(text);
    margin-right: 10px;
    max-height: 24px;
    width: 24px;

    path {
      &:first-child {
        fill: color(text);
      }
    }
  }

  &.icon-title {
    margin-bottom: 8px;
    margin-top: 20px;
  }
}

p {
  margin-bottom: 10px;
}

strong {
  font-weight: default(weight, bold);
}

a.text_link {
  color: color(text);
  text-decoration: none;

  &:hover,
  &:focus {
    color: color(secondary);
    text-decoration: underline;
  }
}

.wysiwyg {
  .line-title {
    font-size: 16px;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 1rem;
  }

  a {
    color: color(text, grey);

    &:hover,
    &:focus {
      color: color(secondary);
    }
  }
}

@font-face {
  font-display: swap;
  font-family: "Minecraftia";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/Minecraftia-Regular.eot"),
    url("../fonts/Minecraftia-Regular.ttf") format("truetype"),
    url("../fonts/Minecraftia-Regular.svg#Minecraftia-Regular") format("svg");
}
