/* stylelint-disable prettier/prettier */

body {
  background-color: color(background, dark);
  color: color(text);
  color: color(text, grey);
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

#plot {
  .modebar-container {
    display: none;
  }
}

.question {
  .title {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 8px;
    justify-content: flex-start;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &::before {
      border-bottom: 5px solid transparent;
      border-left: 8px solid color(text, grey);
      border-top: 5px solid transparent;
      content: "";
      display: block;
    }
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }

  &.open {
    .title {
      &::before {
        transform: rotate(90deg);
      }
    }

    .answer {
      margin: 1rem 0;
      max-height: 200px;
    }
  }
}

.cmd-line {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: flex-start;

  .btn {
    font-size: 16px;
    font-weight: default(weight);
    line-height: 1;
    padding: 4px;
    text-transform: none;
  }
}

#server {
  font-family: "Minecraftia", sans-serif;
  font-size: 16px;
}

#players {
  @extend .row;
}

.player {
  align-items: center;
  background-color: #50505080;
  display: flex;
  font-family: "Minecraftia", sans-serif;
  justify-content: flex-start;
  margin-top: 2px;
  padding: 5px;

  a {
    color: #fff;
    font-weight: normal;
    height: 16px;
    text-decoration: none;
    text-shadow: #000000a0 2px 2px;

    &:hover {
      color: #ff5;
    }
  }

  img {
    height: 16px;
    margin-right: 5px;
  }
}

.qr-code {
  background-color: color(text, grey);
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: color(secondary);
  }
}

.modal {
  align-items: center;
  background-color: color(shadow, overlay);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &.open {
    display: flex;
  }

  .block {
    height: auto;
    max-width: 80%;
    min-width: 80%;

    @media (min-width: $md-width) {
      max-width: 50%;
      min-width: 50%;
    }
  }
}

#namemc-server {
  .players {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 32px;
  }
}

#skins {
  bottom: 0;
  display: flex;
  left: 0;
  opacity: 0%;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;

  > div {
    flex-basis: 50%;
    min-width: 50%;
    width: 50%;
  }

  &.open {
    opacity: 100%;
    pointer-events: all;
  }
}
